{% extends 'main/layout.html' %}

{% block title %}Заголовок про нас{% endblock %}

{% block content %}
    <main>
    <div class="features">
        <h1>ПРО НАС</h1>
        <p>Мы рады предложить вам подготовку к ЕГЭ на нашем сайте! Здесь вы найдёте всё необходимое для успешного прохождения экзамена.
Мы понимаем, насколько важно хорошо подготовиться к ЕГЭ, ведь от этого зависит ваше будущее. Именно поэтому мы разработали уникальный подход к обучению, который поможет вам достичь высоких результатов.
Наши опытные преподаватели имеют большой опыт работы с выпускниками и знают все тонкости и нюансы ЕГЭ. Они помогут вам разобраться в сложных темах, научат решать задания любой сложности и дадут индивидуальные рекомендации по подготовке.
На нашем сайте вы найдёте множество материалов и ресурсов, которые помогут вам в изучении предметов. Мы постоянно обновляем нашу базу данных, чтобы предоставить вам самую актуальную информацию.
Кроме того, мы предлагаем различные форматы обучения: групповые занятия, индивидуальные консультации и онлайн-курсы. Вы можете выбрать тот вариант, который подходит именно вам.
Не упустите возможность подготовиться к ЕГЭ вместе с нами! Присоединяйтесь к нам и получите высокий балл на экзамене!</p>

        <a class="btn btn-primary" href="contact">Связаться с нами</a>
    </div>
        </main>
{% endblock %}


