{% extends 'main/layout.html' %}
{% load  static %}

{% block title %}Добро пожаловать{% endblock %}

{% block content %}
    <main>
    <div class="features">
        <h1>{{title}}</h1>
        <p>Сдача ЕГЭ и подготовка к нему
            Уважаемые абитуриенты и их родители!
            Рады представить вам информацию о том, как проходит сдача ЕГЭ и как подготовиться к этому важному событию.
            Единый государственный экзамен (ЕГЭ) является обязательным для всех выпускников школ России.
            Он проводится с целью оценки знаний и умений учащихся, а также для определения их готовности к поступлению в высшие учебные заведения.
        Сдача ЕГЭ проходит в три этапа:
            Досрочный этап — проводится в марте-апреле.
            Основной этап — проводится в мае-июне.
            Дополнительный этап — проводится в июле.
            Каждый этап имеет свои особенности и требования. Например, на досрочном этапе экзамены проводятся для тех, кто по уважительным причинам не может принять участие в основном этапе.
Для успешной сдачи ЕГЭ необходимо тщательно подготовиться. Вот несколько советов, которые помогут вам в этом:
Определите свой уровень знаний и слабые стороны.
Составьте план подготовки, учитывая ваши индивидуальные особенности и возможности.
Используйте различные источники информации, такие как учебники, интернет-ресурсы, видеоуроки и консультации с преподавателями.
Регулярно практикуйтесь в выполнении заданий разных типов и уровней сложности.
Не бойтесь обращаться за помощью к учителям и родителям.
Помните, что подготовка к ЕГЭ требует времени, терпения и усилий. Однако, если вы будете следовать этим советам, вы сможете успешно сдать экзамены и поступить в выбранный вами вуз.</p>

        <a class="btn btn-warning" href="/about"> На страницу про нас</a>
    </div>
        </main>

{% endblock %}