{% extends 'main/layout.html' %}

{%block title%}Информатика{%endblock%}

{% block content %}
    <main>
        <div class="features">
        <h1>Здесь мы кратко разберем все основные типы задач в ЕГЭ по информатике. </h1>
        <h2>1 Задание:</h2>
            <p2>В данный момент на экзамене представлены задачи, в которых требуется уметь работать с информационными моделями, изображающими схему дорог между населенными пунктами.
                Несмотря на разные формулировки вопросов, задания можно разбить на две группы. Для получения ответа в задачах из первой группы нужно найти полное или частичное соответствие между графом и таблицей.
                В задачах второй группы предлагается найти кратчайший (или самый длинный) маршрут между двумя пунктами, опираясь на информационную модель в виде графа или таблицы. Строго говоря, существуют задачи и со смешанными формулировками.</p2>
        </div>
    </main>

{%endblock%}