{% extends 'main/layout.html' %}

{%block title%}Физика{%endblock%}

{% block content %}
    <main>
        <div class="features">
            <div class="d-grid gap-2 col-6 mx-auto">
        <h2>Все формулы по физике по разделам:</h2>

            <a type="button"  class="btn btn-danger" href="https://study.kasfin.ru/physics/quantum_physics.html">Формулы по квантовой физике</a>
            <a type="button" class="btn btn-primary" href="https://study.kasfin.ru/physics/thermodynamics.html">Формулы по термродинамике</a>

            <a type="button" class="btn btn-info" href="https://study.kasfin.ru/physics/electrodynamics.html">Формулы по электричеству</a>
            <a type="button" class="btn btn-success" href="https://study.kasfin.ru/physics/mechanics.html" >Формулы по механике</a>
            <a type="button" class="btn btn-warning" href="https://study.kasfin.ru/physics/optics.html">Формулы по оптике</a>
                <p>Физические величины и константы</p>
                <a type="button" class="btn btn-dark" href="https://study.kasfin.ru/physics/physical_magnitudes.html">Физические величины</a>
                <a type="button" class="btn btn-dark" href="https://study.kasfin.ru/physics/physical_constants.html">Физические константы</a>
                <p>Перед тем как приступить к решению целого варианта ЕГЭ, попробуй порешать задачи прошлых лет</p>
                <a type="button" class="btn btn-info" href="https://vk.com/doc16410257_660100103?hash=TYhzzsNsbZZsXNMSoVog8yRY2dQqCkXNDbjaaBl80CD">Механика</a>
                <a type="button" class="btn btn-info" href="https://vk.com/doc16410257_660100054?hash=V20SXsna6tGjCU0X7MUK5MwJAZnUM7Ss8nFPLPjzqEz">Электродинамика</a>
                <a type="button" class="btn btn-info" href="https://vk.com/doc16410257_660099981?hash=aj3vxBCUCnZOBTNcJ5jjYnMkZ4Fzt759ujeqqbysfvc">Термодинамика</a>

            <h2>А теперь реши пробный ЕГЭ:</h2>
                <a type="button"  class="btn btn-danger" href=https://phys-ege.sdamgia.ru/>ЕГЭ</a>
            </div>
        </div>
    </main>

{%endblock%}
