{% extends 'main/layout.html' %}

{%block title%}Предметы{%endblock%}

{% block content %}
    <main>
        <div class="features">
        <h1>Список предметов к котрым вы можете подготовиться на нашем сайте:</h1>
          <p>Математика - это удивительный предмет, который требует логики, терпения и умения решать задачи. Для подготовки к ЕГЭ, математика может быть интересной благодаря своей разнообразной структуре задач и логическому мышлению, которое требуется для их решения. Она помогает развивать аналитические способности и улучшать навыки работы с числами. Кроме того, математика может быть полезной для повседневной жизни, так как помогает в решении различных задач, как например, в финансах и бюджетировании. Приложенные усилия и труд в изучении математики не останутся без вознаграждения при подготовке к ЕГЭ.</p>
            <a class="btn btn-danger" href="/math">Математика</a>
          <p>Физика - это удивительная наука, которая изучает природу окружающего нас мира. Подготовка к ЕГЭ по физике может быть увлекательным процессом, ведь она позволяет лучше понять многое из того, с чем мы сталкиваемся каждый день. Исследование законов природы, изучение электричества, магнетизма, оптики, акустики - все это может быть увлекательным и полезным опытом. Подготовка к ЕГЭ по физике поможет развить логическое мышление, умение решать задачи и анализировать информацию. Более того, знания физики могут оказаться полезными не только на экзамене, но и в повседневной жизни.</p>
            <a class="btn btn-primary" href="/physic">Физика</a>
        </div>
    </main>

{%endblock%}
